[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "seminar-report-generator"
version = "0.1.0"

[tool.setuptools]
package-dir = {"" = "."}

[tool.setuptools.packages.find]
where = ["."]
include = ["src*"]
